@import 'main.css';

.aboutsection {
    background-color: var(--color-background);
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.splash {
    width: 430px;
    height: 564px;
    margin-left: 100px;
}

/* ====== RESPONSIVE ======*/
@media (max-width: 1024px) {
    .splash {
        width: 430px;
        height: 564px;
        margin-left: 0;
    }
}
@media (max-width: 768px) {
    
    .splash {
        width: 300px;
        height: 398px;
    }
    .aboutsection h3, .aboutsection h1 {
            text-align: left !important;
        }
}
@media (max-width: 480px) {
    .aboutsection h3, .aboutsection h1 {
            text-align: left !important;
        }
    .splash {
        width: 300px;
        height: 398px;
    }
}