/* ====== BASE ======*/
.btn {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 48px;
    justify-content: center;
    white-space: nowrap;
    border-radius: 8px;
    font-size: var(--label-text);
    font-weight: var(--label);
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    border: none;
    height: 44px;
    padding: 0 16px 0 24px;
}

/* ====== VARIANTS ====== */
.btn-default {
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    padding: 24px;
}
.btn-icon {
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn-icon:hover {
    background-color: var(--color-primary-hover);
}
.btn-stroke {
    height: 40px;
    color: var(--color-primary) !important;
    padding: 8px 8px 8px 16px;
    border: 1px solid var(--color-primary) !important;
    border-radius: 4px;
    display: flex;
    gap: 8px;
    background-color: transparent !important;
}
.btn-text {
    height: 40px;
    color: black;
    padding: 8px 8px 8px 16px;
    border-radius: 4px;
    display: flex;
    gap: 8px;
    background-color: transparent;
}
.divider {
    border: var(--border-footer);
}

@media (hover: hover) {
    .btn-default:hover {
            box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.18);
            color: var(--color-white);
    }
    .btn-stroke:hover {
        background-color: var(--color-primary) !important;
        color: var(--color-black) !important;
    };
    border-bottom: 1px solid lightgrey;
}
