@import './main.css';

.contactsection {
    /* height: 652px; */
    background-color: var(--color-black);
    color: var(--color-white);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    color: var(--color-secondary);
    font-size: var(--sec-title);
    font-weight: 500;
    text-align: center;
}
.heading {
    font-size: 28px;
    font-weight: 500;
    margin-top: 8px;
    text-align: center;
}
.para {
    width: 818px;
    text-align: center;
    margin-top: 8px;
    color: var(--color-text);

}
.formsection {
    padding: 64px;
    background-color: var(--color-white);
    border-radius: 16px;
    display: flex;
    gap: 48px;
    margin-top: 32px;
}
.label {
    font-size: var(--label-text);
    color: var(--color-black);
    font-weight: 500;
}
.value {
    color: var(--color-grey);
    font-size: var(--paragraph-small);
}
.forminfo {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.others {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.socials {
    color: var(--color-grey);
    display: flex;
    gap: 16px;
}

/* ====== RESPONSE ======*/
#toast {
    visibility: Hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--color-white);
    color: var(--color-black);
    text-align: center;
    border-radius:8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: var(--label-text);
    border-left: var(--border-toast) !important;
    border: var(--border);
}
.socialDivider {
    display: none;
}
.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;} to {bottom: 30; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;} to {bottom: 0; opacity: 0;}
}
form {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 4px;
    width: 502px;
}
input {
    padding: 16px 8px;
    border-radius: 8px;
    border: var(--border);
    background-color: var(--color-background);
}
#message {
    min-height: 116px;
    border-radius: 8px;
    border: var(--border);
    padding: 16px 8px;
    background-color: var(--color-background);
}
input::placeholder{
    font-size: var(--paragraph-medium);
}
#message::placeholder {
    font-size: var(--paragraph-medium);
}
#subject::placeholder {
    font-size: var(--paragraph-medium);
}
a {
    text-decoration: none;
}
.sendmail {
    width: 100%;
    margin-top: 16px;
}
.input.error, textarea.error {
    border-color: red;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    #message {
        border-radius: 6px;
    }
    .heading {
    margin-top: 1px;
    }
    .para {
        margin-top: 4px;
        font-size: var(--paragraph-small);
        text-wrap: wrap;
        width: 100%;

    }
}

@media (max-width: 768px) {
    .formsection {
        width: 90%;
        flex-direction: column-reverse;
        padding: 16px;
        margin-top: 16px;
        border-radius: 8px;
    }
    .socialDivider {
        display: block;
        width: 80%;
        border-top: var(--border-footer);
        margin: -16px auto 24px;

    }
    .others {
        flex-direction: row;
        justify-content: space-between;
    }
    .socials {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    form {
        width: calc(100% - 16px);
    }
    input {
        width: 100%;
        margin: 0 auto;
    }
    #message {
        width: 100%;
    }
    .sendmail {
        width: calc(100% + 16px);
    }
    .para {
        font-size: var(--paragraph-small);
        width: 100%;
        text-align: center;
        margin-top: 0;
    }
    .heading{
        font-size: var(--heading-medium);
        margin-left: 0;
        padding: 0;
        width: 100%;
        text-align: center !important;
    }
    .title {
        font-size: 12px;
        text-align: center !important;
        margin-left: 0;
        padding: 0;
        width: 100%;
    }
    .label {
        display: block;
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 12px;
        color: var(--color-text);
    }
    .socialLabel {
        display: block;
    }
    .socials{
        gap: 40px;
        font-size: 16px;
        color: var(--color-black);
    }
    .gridspan{
        grid-column: span 2;
        justify-self: center;
    }
    .forminfo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: left;
        gap: 24px;
        margin: 24px 0 24px;
    }
    input::placeholder {
        font-size: var(--paragraph-medium);
    }
    #message::placeholder {
    font-size: var(--paragraph-medium);
    }
    #subject::placeholder {
        font-size: var(--paragraph-medium);
    }
    .others {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    .value {
        font-size: 12px;
        color: var(--color-black);
    }

}

@media (max-width: 480px) {
    
    .label {
        font-size: 12px;
        text-align: left;
    }
    .value {
        font-size: 12px;
    }
    .para {
        font-size: var(--paragraph-x-small);
        width: 100%;
        text-align: left;
    }
    .heading{
        font-size: var(--heading-small);
        text-align: left;
    }
    .title {
        font-size: 12px;
        text-align: left;
    }
    input {
    padding: 8px;
    }
    #message {
    padding: 8px;
    }
    .forminfo {
        grid-template-columns: 1fr 1fr;
    }
    .socials{
        gap: 40px;
	margin: 8px auto 0;
    }
    .socialLabel {
	    text-align: center;
    }
    .gridspan {
	    grid-column: span 2;
	    margin-top: 16px;
    }
  
}
