.download-container {
  display: flex;
  padding: 16px;
  margin: 16px 0;
  flex-direction: column;
  gap: 8px;
}

.download-option {
  display: flex;
  align-items: center;
  gap: .75rem;

  opacity: 0;
  transform: translateY(20px);

  animation: slideUp .5s ease forwards;
}

.download-option:nth-child(1) {
  animation-delay: 1s;
}

.download-option:nth-child(2) {
  animation-delay: 1.2s;
}

.download-option:nth-child(3) {
  animation-delay: 1.4s;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
