@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wgh@0,wght@400;0,700;0,800;1,400&display=swap');

p {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
/* ====== VARIABLES ====== */
:root {
    /* ====== COLORS ====== */
    --color-black: #1D242D;
    --color-text: #8c8a8a;
    --color-primary-container: #D9ECD9;
    --color-on-primary-container: #002D00;
    --color-primary: #008000;
    --color-primary-hover: #006000;
    --color-white: #FFF;
    --color-grey: #8c8a8a;
    --color-secondary: #FFA500;
    --color-background: #f9f9f3;
    --color-background2: #002d00ff;
    --color-gradient1: #C4FFDE;
    --color-gradient2: #97da83cc;
    --border: 1px solid #dedede;
    --border-input: 1px solid #1D242D;
    --border-footer: 1px solid #f9f9f3;
    --border-toast: 8px solid #006000;

    /* ====== FONTS ====== */
    --hero-heading: 58px;
    --paragraph: 16px;
    --paragraph-small: 14px;
    --paragraph-x-small: 12px;
    --label-text: 12px;
    --banner-text: 12px;
    --heading: 28px;
    --title: 20px;
    --sec-title: 16px;
    --heading-medium: 22px;
    --heading-small: 18px;

    /* ====== WEIGHTS ====== */
    --heading: bold;
    --title: 500;
    --label: 500;
    --text: 400;

    /* ====== SHADOWS ====== */
    --drop-shadow-x: 0;
    --drop-shadow-y: 16px rgba(0, 0, 0, 0.1);
    --drop-shadow-blur: 32px;
    --drop-shadow-spread: 0;
    --drop-shadow-color: drop-shadow( 0 16px 16px rgba(0, 0, 0, 0.14));
    --drop-shadow-toast: drop-shadow(16px 16px 16px 16px rgba(0, 0, 0, 0.14));
}

.section {
    padding: 80px 100px;
}
.pagetitle {
    color: var(--color-primary);
    font-size: var(--sec-title);
    font-weight: 600;
}
.highlightedText {
    color: var(--color-secondary);
}
.pageheading {
    font-size: 32px;
    font-weight: 600;
    margin-top: 8px;
    color: var(--color-black)
}
.pagepara {
    font-size: var(--paragraph);
    width: 818px;
    text-align: center;
    margin: 8px auto 0;
    color: var(--color-grey);
}
p {
    font-size: 15px !important;
    text-align: left !important;
}
/* ====== RESPONSIVE ====== */
@media (max-width: 1024px) {
    .pageheading {
        margin-top: 1px;
        font-size: 36px;
    }
    .pagepara {
        margin-top: 16px;
        font-size: var(--paragraph);
        text-wrap: wrap;
        width: 100%;
        text-align: left;
    }
    .section {
        padding: 40px 50px;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 48px 16px;
        margin: 0;
    }
    .pagepara {
        font-size: var(--paragraph);
        width: 100%;
        text-align: center;
    }
    .pageheading{
        font-size: var(--heading-medium);
        margin-top: -4px !important;
        margin-bottom: 8px !important;
        font-weight: 500;
        text-align: center;
        width: 100%;
    }
    .pagetitle {
        font-size: 12px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .section{
        padding: 40px 16px;
    }
    .pagepara {
        font-size: var(--paragraph-small);
        width: 100%;
    }
    .pageheading{
        font-size: var(--heading-medium);
        font-weight: 600;
        width: 100%;
    }
    .pagetitle {
        font-size: 12px;
        font-weight: 500;
    }
}
