.modal-overlay {
  width: 80%;
  inset: 0;
  background: rgba(0,0,0,.2);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  animation: fadeIn .3s ease;
}

.modal-content {
  width: 80%;
  max-width: 420px;
  background: white;
  border-radius: 8px;
  border: 1px solid lightgrey;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
  0 8px 16px rgba(0, 0, 0, 0.15);

  padding: 16px;

  animation: scaleIn .3s ease;
}

.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 15px;

  border: none;
  background: transparent;
  cursor: pointer;

  font-size: 2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
