@import './main.css';

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white); 
  z-index: 1000; 
}

.logo {
  width: 75px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.link {
  font-size: var(--paragraph-small);
  color: var(--color-grey);
  text-decoration: none;
  font-weight: 400;
  padding: 0 8px;
}
.link:active {
  color: var(--color-primary);
}

.services-link {
  position: relative;
  padding: 0 16px;
}

.services-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 1001;
}

.services-link:hover .dropdown-menu,
.services-link:focus-within .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu li {
  padding: 8px 4px;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-menu .link {
  display: block;
}

.mobile-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .navbar {
    padding: 0 50px;
  }
  .logo {
    width: 200px;
  }

  .nav-list {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 16px;
    height: 48px;
  }
  .logo {
    width: 64px;
    height: 24px;
  }
    .services-link {
      padding: 0;
    }
  .mobile-toggle {
    display: block;
  }
  .services-toggle {
	  text-align: right;
    display: block;
  }
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-white);
    padding: 24px 16px;
    gap: 32px;
    filter: var(--drop-shadow-color);

  }
    .link:hover {
      color: var(--color-gray);
      text-decoration: none;
    }
  .nav-list.mobile-view {
    display: flex;
    width: 100%;
  }
  .nav-list li {
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #9999993d;
    padding-bottom: 16px;
  }
    .dropdown-menu li {
      border-bottom: none !important;
    }
  .dropdown-menu {
    position: static;
    border: none;
    transform: none;
    opacity: 1;
    padding: 0;
    width: 100%;
    margin-top: 16px;
  }
  .link {
    margin: 0; 
    text-align: right;
  }
  .services-link {
  width: 100%;
  display: block;
  text-align: right;
  }
  .services-link:hover .dropdown-menu,
  .services-link:focus-within .dropdown-menu {
    transform: none;
  }
}

@media (max-width: 480px) {
  /* .logo {
    width: 150px;
    height: 32px;
  } */

  .navbar {
    height: 60px;
    width: 100%;
  }

  .nav-list {
    top: 40px;
    text-align: right;
  }
  .dropdown-menu li {
    border-bottom: none !important;
  }
}
@media (hover: hover){
  .link:hover {
      color: var(--color-black);
      text-decoration: underline;
    }
}
