.notfound {
  background: var(--color-tertiary);
  overflow: hidden;
  position: relative;
  width: 100%;

  display: block;
  justify-content: center;
  align-items: bottom;
}

.content {
  text-align: center;
  z-index: 5;
  width: 100%;
  padding: 100px;
  margin-top: 40px;
}

.search-wrapper {
  color: #2563eb;
  margin-bottom: 20px;
  display: none;
}

#error-code-left {
    transform: rotate(-15deg);
    font-size: 180px;
    opacity: 0.3;
    margin: 0;
    padding: 0;
}

#error-code-right {
    transform: rotate(15deg);
    font-size: 180px;
    opacity: 0.3;
}

.error-code {
  font-size: 180px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 16px auto;
  font-family: Varela Round;
}


.error-divider {
  border: 1px solid linear-gradient(to right, red 20%, blue 80%);
  margin-bottom: 24px;
  width: 60%;

}

.content h2 {
  font-size: 2.5rem;
  margin-top: 64px;
  color: var(--color-black);
  text-align: center;
  margin-bottom: 0;
}

.content p {
  margin: 8px auto 16px !important;
  color: var(--color-black);;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: center;
  justify-self: center;
}

.actions {
  margin-top: 35px;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.secondary-btn {
	color: inherit;
}

.floating-card {
  position: absolute;
  background: rgba(255,255,255,.8);
  backdrop-filter: blur(15px);

  padding: 15px 20px;
  border-radius: 20px;

  display: flex;
  gap: 10px;
  align-items: center;

  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.blur {
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
}

.blur1 {
  width: 400px;
  height: 400px;
  background: rgba(37,99,235,.2);
  top: -100px;
  left: -100px;
}

.blur2 {
  width: 350px;
  height: 350px;
  background: rgba(59,130,246,.2);
  bottom: -100px;
  right: -100px;
}

@media (max-width: 480px) {

  .error-code {
    font-size: 5rem;
  }
  .notfound {
	
  }
}
