@import './main.css';

.reset-container {
   display: flex;
   box-sizing: border-box;
   margin-top: 80px;
   align-items: center;
   width: 100%;
   min-height: 678px;
}
.reset-r {
   width: 60%;
}
.reset-bg {
   object-fit: contain;
   width: 100%;
}
.reset-l {
   width: 40%;
   padding: 0 100px 0 32px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0;
}
.reset-title {
   font-size: 32px;
   font-weight: var(--heading);
   font-family: 'Open Sans', sans-serif;
   margin-bottom: 8px;
}
.reset-subtitle {
   font-size: 1rem;
   color: var(--color-text);
   margin-bottom: 16pxpx;
   padding: 0;
   margin-top: 0;
}
.reset-para{
   font-size: var(--paragraph);
   font-weight: 500;
}
.error-msg {
   color: rgb(199, 1, 1);
   padding: 16px;
   border-left: 4px solid rgb(199, 1, 1);
   box-shadow: 0 0 0  1px rgba(0, 0, 0, 0.158);
   border-radius: 0 8px 8px 0;
}
.success {
   color: green;
   padding: 16px;
      border-left: 4px solid rgb(199, 1, 1);
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.158);
      border-radius: 0 8px 8px 0;
}
.reset-form {
   display: flex;
   flex-direction: column;
   width: 100%;
}
.password-form {
   position: relative;
   margin-bottom: 16px;
}
.reset-label {
   display: block;
   color: var(--color-black);
   margin-bottom: 4px;
   font-size: var(--paragraph);
   font-weight: var(--label);
}
.input {
   padding: 0 0 0 8px;
   border-radius: 0;
   background-color: transparent;
   border: none;
   width: calc(100% - 16px);
}
.input:focus {
   outline: none;
}
.reset-input {
   width: calc(100% - 0);
   border: 1.5px solid var(--color-black);
   border-radius: 0.5rem;
   padding: 0 16px 0 0;
   height: 40px;
   display: grid;
   justify-content: space-between;
   align-items: center;
   grid-template-columns: auto auto;
   gap: 8px;
}
.eye-button {
   color: var(--color-grey);
   background: transparent;
   border: none;
   cursor: pointer;
   margin: 0;
   padding: 0;
   width: 24px;
}
.progress-wrapper {
   margin-top: 8px;
}
.progress-bar {
   height: 4px;
   margin-top: -16px;
   margin-bottom: 16px;
   border-radius: 9999px;
}
.progress-weak {
   background-color: #ef4444;
}
.progress-medium {
   background-color: #eab308;
}
.progress-strong {
   background-color: #22c55e;
}
.progress-level {
   display: none;
   font-size: 10px;
   color: var(--color-black);
   font-weight: bold;
   margin-top: 0.25rem;
}
.reset-button {
   width: 100%;
   background-color: var(--color-primary);
   color: white;
   border-radius: 0.5rem;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s;
   font-size: 1rem;
   font-weight: 500;
}
.reset-button:hover {
   background-color: var(--color-primary);
}
.reset-button:disabled {
   background-color: var(--color-grey);
   cursor: not-allowed;
}
.reset-img {
   display: none;
}
.success-container {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #f3f4f6;
   padding: 16px;
}
.success-inner {
   background-color: white;
   box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
   border-radius: 16px;
   padding: 2rem;
   width: 50%;
   text-align: center;
   margin: auto;
}
.success-img {
   display: block;
   margin: 0 auto 1rem;
}
.success-title {
   font-size: 24px;
   font-weight: 600;
   margin-bottom: 16px;
   color: var(--color-primary);
}
.success-text {
   color: var(--color-text);
   margin-bottom: 16px;
   text-align: center !important;
}

@media (max-width: 768px) {
   .reset-container {
      flex-direction: column;
      padding: 0;
   }
   .reset-r {
      display: none;
   }
   .reset-l {
      width: 80%;
      padding: 40px 16px;
      
   }
   .success-inner {
      width: 80%;
   }
   .success-title {
      font-size: 18px;
   }
   .reset-title {
      font-size: 18px;
   }
}

@media (max-width: 1024px) {
   .reset-container {
      flex-direction: column;
      padding: 0;
      margin-top: 80px;
   }
   .reset-r {
      display: none;
   }
   .reset-l {
      width: 50%;
      padding: 16px 16px 40px;
      margin: auto;
      box-shadow: 0 0 0 2px #4b55631a;
      border-radius: 16px;
      justify-content: center;
   }
   .reset-subtitle {
      text-align: center !important;
   }
   .reset-title{
      text-align: center;
      font-size: 24px;
   }
   .reset-img {
      display: block;
      width: 30%;
      /* height: 150px; */
      margin:  -16px auto -48px auto;
   }
}