@import './main.css';

.reset-container {
   margin-top: 80px;
   display: flex;
   box-sizing: border-box;
}
.reset-r {
   object-fit: cover;
   width: 50%;
}
.reset-l-img {
   width: 80px;
   height: 80px;
   margin: 0 auto;
}
.reset-l {
   width: 50%;
   padding: 0 40px 0 100px;
   align-items: center;
}
.reset-title {
   font-size: var(--heading);
   font-weight: var(--bold);

}
.reset-para{
   font-size: var(--paragraph);
   font-weight: 500;
}
.error-msg {
   color: red;
}
.success {
   color: green;
}
