@import './main.css';

.worksection {
    background-color: var(--color-white);
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.stepsec {
    margin-top: 32px;
}
.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 138px;
}
.stepL {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
    width: 500px;
}
.d-steps {
    display: flex;
    width: 579;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    gap: 80px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.14);
}
.margin-top {
     margin-top: 32px;
     flex-direction: row-reverse !important;
}
.stepR {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
    width: 500px;
}
.Bsteps {
    display: flex;
    width: 579;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    gap: 80px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.18);
}
.cardtitle {
    font-size: var(--title);
    color: var(--color-black);
    font-weight: 500;
    margin: 0;
}
.cardtext {
    font-size: var(--paragraph-small);
    color: var(--color-grey);
    margin: 0;
}
.stroketext {
    color: transparent;
    -webkit-text-stroke: 1px var(--color-primary);
    font-family: "Open Sans", sans-serif;
    margin: 0 16px 0 0;
    font-size: 52px;
}
.step p{
   font-size: var(--paragraph-x-small);
   color: var(--color-grey); 
}
.demovideo {
    width: 811px;
    height: 300px;
    border-radius: 8px;
    margin-top: 16px;
    object-fit: contain;
}
.videotitle {
    margin-top: 16px;
    padding-top: 32px;
    width: 818px;
    border-top: 1px solid #6c6c6c62;
}
.worksBtn {
    width: 502px;
}
.box {
    width: 62px;
    height: 36px;
    background: var(--color-primary);
    border-radius: 2px;
    margin: 0 auto;
}

/* ====== SERVICES ======*/
.servicesection {
    background-color: var(--color-background);
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.serviceBtn{
    width: 158px;
    margin-top: 32px;
}
.content {
    box-sizing: border-box;
    width: 100%;
    margin-top: 40px;
}
.servicesImage {
    width: 702px;
    height: 658px;
    margin-top: 80px;
}
.left {
    display: flex;
    box-sizing: border-box;
    gap: 426px;
}
.right {
    display: flex;
    box-sizing: border-box;
    gap: 426px;
    margin-top: -50px;
}
.servicebox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: var(--border);
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    text-align: left;
    box-sizing: border-box;
}
.top {
    margin-bottom: -150px;
}
.servicebox h2 {
    font-size: var(--title);
    color: var(--color-black);
    margin: 0;
}
.servicebox p {
    font-size: var(--paragraph-small);
    color: var(--color-grey);
    margin: 0;
}
.background {
    width: 500px;
    height: 500px;
    background-color: var(--color-primary);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 0;
}
.content-small {
    display: none;
}



/* ====== RESPONSIVE ======*/
@media (max-width: 1024px) {
    .servicesImage {
    width: 427px;
    height: 400px;
    margin-top: 60px;
    }
    .servicebox h2{
        font-size: var(--paragraph);
    }
    .servicebox {
        width: 100%;
    }
    .servicebox p {
        font-size: var(--paragraph-x-small);
        margin-bottom: 0;
        width: 100%;
    }
    .left, .right {
        gap: 250px;
        box-sizing: border-box;
    }
    .content  {
        margin-top: 16px;
    }
    .stepR, .stepL {
        max-width: 320px;
    }
    .stepsec {
        width: 100%;
        box-sizing: border-box;
        gap: 40px;
        margin-top: 32px;
    }
    .d-steps, .Bsteps {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        padding: 6px 16px;
    }
    .steps {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .step {
        padding: 8px 16px;
    }
    .demovideo {
        width: 611px;
        height: 220px;
    }
    
}

@media (max-width: 768px) {
    .servicesImage {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
    }
    .worksection {
        gap: 16px;
    }
    .left, .right {
        flex-direction: column;
        gap: 8px;
        text-align: center;
        margin: 0;
    }
   .content {
    display: none;
   }
   .content-small {
    display: block;
   }
   .servicebox {
    background-color: var(--color-white);
   }
   .services{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        margin-top: 16px;
    }
    .servicebox h3 {
        font-size: var(--paragraph-small);
        font-weight: 500;
    }
    .demovideo {
        max-width: 480px;
        max-height: auto;
    }
    .steps {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    
    }
    .stroketext {
        font-size: 32px;
    }
    .box {
        height: 16px;
    }
    .stepR,
    .stepL {
        max-width: 100%;
        margin-top: 16px;
        text-align: center;
        margin-right: 0;
    }
    .stepsec {
        gap: 16px;
    }
    .cardtext {
        font-size: var(--paragraph-x-small);
        text-align: left;
        width: 100%;
    }
    .workbtn {
        width: calc(100% - 32px);
    }
    .videodemo{
        box-sizing: border-box;
    }
}

@media (max-width: 480px) {
    .services {
        grid-template-columns: 1fr;
        gap: 4px;
    }
    .servicesImage {
        width: 100%;
        height: auto;
    }
    .demovideo {
        width: calc(480px- 32px);
        max-height: auto;
        border-radius: 8px;
    }
    .d-steps, .Bsteps {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
        box-shadow: none;
    }
    .stepsec {
        width: 100%;
        box-sizing: border-box;
    }
    .stepL, .stepR {
        width: 100%;
    }
    .steps {
        background-color: transparent;
    }
    .step {
        width: 100px;
        height: 120px;
        border-radius: 100%;
        align-items: center;
        box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.18);
    }
    .stroketext {
        margin: 0;
    }
    .demovideo {
        width: 100%;
        height: auto;
    }
    .worksBtn {
        width: 100%;
        margin-top: 8px;
    }
    .servicebox {
        padding: 16px 8px;
    }
    .servicebox h2 {
        font-size: 14px;
        font-weight: 500;
    }
    .cardtitle {
        font-size: 14px;
        margin-top: 16px;
    }
}