@import './main.css';

.worksection {
    background-color: var(--color-white);
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.stepsec {
    margin-top: 32px;
}
.steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
    width: 100%;
    box-sizing: border-box;
}
.stepL {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
    width: 500px;
}
.d-steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.08);
}
.margin-top {
     margin-top: 32px;
     flex-direction: row-reverse !important;
}
.stepR {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
    width: 500px;
}
.reverse{ 
    display: flex;
    flex-direction: column-reverse;
}
.Bsteps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.08);
}
.cardtitle {
    font-size: var(--title);
    color: var(--color-black);
    font-weight: 500;
    margin: 0;
}
.cardtext {
    font-size: var(--paragraph);
    color: var(--color-grey);
    margin: 0;
}
.stroketext {
    color: transparent;
    -webkit-text-stroke: 2px var(--color-primary);
    font-family: "Open Sans", sans-serif;
    margin: 0;
    font-size: 52px;
}
.step {
    display: grid;
    grid-template-rows: 1fr .4fr 1fr;
    gap: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.step p{
   font-size: var(--paragraph);
   color: var(--color-grey);
   height: auto;
   text-align: center !important;
}
.demovideo {
    width: 811px;
    height: 300px;
    border-radius: 8px;
    margin-top: 16px;
    object-fit: contain;
}
.videotitle {
    margin-top: 16px;
    padding-top: 32px;
    width: 818px;
    border-top: 1px solid #6c6c6c62;
}
.worksBtn {
    width: 502px;
}
.box {
    width: 50%;
    height: 24px;
    background: var(--color-primary);
    border-radius: 2px;
    margin: 0 auto -40px;
    padding: 0;
}

/* ====== SERVICES ====== */
.servicesection {
    background-color: var(--color-background);
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.serviceBtn{
    width: 158px;
    margin: 32px auto 0;
}
.content {
    box-sizing: border-box;
    width: 100%;
    margin-top: 40px;
}
.servicesImage {
    width: 702px;
    height: 658px;
    margin-top: 80px;
    object-fit: contain;
}
.left {
    display: flex;
    box-sizing: border-box;
    gap: 426px;
}
.right {
    display: flex;
    box-sizing: border-box;
    gap: 426px;
    margin-top: -50px;
}
.servicebox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: var(--border);
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    text-align: left;
    box-sizing: border-box;
    background-color: var(--color-white);
}
.top {
    margin-bottom: -150px;
}
.servicebox h2 {
    font-size: var(--title);
    color: var(--color-black);
    margin: 0;
}
.servicebox p {
    font-size: var(--paragraph);
    color: var(--color-grey);
    margin: 0;
    text-align: center;
}
.background {
    width: 500px;
    height: 500px;
    background-color: var(--color-primary);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 0;
}
.content-small {
    display: none;
}



/* ====== RESPONSIVE ====== */
@media (max-width: 1024px) {
    .servicesImage {
    width: 427px;
    height: 400px;
    margin-top: 60px;
    }
    .servicebox h2{
        font-size: var(--paragraph);
    }
    .servicebox {
        width: 100%;
    }
    .servicebox p {
        font-size: var(--paragraph-small);
        margin-bottom: 0;
        width: 100%;
    }
    .left, .right {
        gap: 250px;
        box-sizing: border-box;
    }
    .content  {
        margin-top: 16px;
    }
    .stepR, .stepL {
        width: 100%;
    }
    .stepsec {
        width: 100%;
        box-sizing: border-box;
    gap: 40px;
        margin-top: 16px;
    }
    .d-steps, .Bsteps {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px;
        padding: 8px;
        
    }
    .steps {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin: 0;
    }
    .demovideo {
        width: 611px;
        height: 220px;
    }
    
}

@media (max-width: 768px) {
    .servicesImage {
    width: 100%;
    height: auto;
    margin-top: 16px;
    }
    .worksection {
        gap: 16px;
        background-color: var(--color-white);
    }
    .left, .right {
        flex-direction: column;
        gap: 8px;
        text-align: center;
        margin: 0;
    }
   .content {
    display: none;
   }
   .content-small {
    display: block;
   }
   .servicebox {
    background-color: var(--color-white);
   }
   .services{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        margin-top: 16px;
    }
    .servicebox h2 {
        font-size: var(--paragraph);
        font-weight: 600;
    }
    .demovideo {
        max-width: 480px;
        max-height: auto;
    }
    .steps {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    
    }
    .stroketext {
        font-size: 32px;
    }
    .box {
        height: 16px;
    }
    .stroketext {
    -webkit-text-stroke: 1.5px var(--color-primary);
    }
    .stepR,
    .stepL {
        max-width: 100%;
        margin: 16px 0;
        text-align: center;
    }
    .stepsec {
        gap: 16px;
        margin-top: 0;
    }.Bstep {
        margin-top: 8px;
        text-align: center;
    }
    
    .cardtext {
        font-size: var(--paragraph-small);
        text-align: left !important;
        margin: 0;
    }
    .cardtitle {
        text-align: center !important;
    }
    .workbtn {
        width: calc(100% - 32px);
    }
    .videodemo{
        box-sizing: border-box;
        margin-top: 32px;
    }
    .step {
    padding: 4px 0;
    }
    .step p{
        margin-top: 8px;
        text-align: center !important;
    }
}

@media (max-width: 480px) {
    .services {
        grid-template-columns: 1fr;
        gap: 4px;
    }
    .servicesImage {
        width: 100%;
        height: auto;
    }
    .demovideo {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 8px;
    }
    .d-steps, .Bsteps {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
        box-shadow: none;
    }
    .stepsec {
        width: 100%;
        box-sizing: border-box;
    }
    .stepL, .stepR {
        width: 100%;
    }
    .steps {
        background-color: transparent;
        width: 100%;
        width: 100%;
        
    }
    .step {
        height: auto;
        box-shadow: .5px 2px 3px 2px #6c6c6c10;
        border-radius: 8px;
    }
    .worksBtn {
        width: 100%;
        margin-top: 8px;
    }
    .servicebox {
        padding: 12px;
        background-color: var(--color-white);
    }
    .servicebox h2 {
        font-size: var(--paragraph);
        font-weight: bold;
    }
    .cardtitle {
        font-size: 14px;
        margin-top: 8px;
        font-weight: 600;
        text-align: left;
    }
    #video {
        margin-top: 16px;
        font-weight: bold;
    }
} 
